
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<table class="table table-bordered">
    <tr>
        <td>TDVT:</td>
        <td>@TempData["TDVT"]</td>
    </tr>
    <tr>
        <td>Work: </td>
        <td>@TempData["Work"]</td>
    </tr>
    <tr>
        <td>SLNV: </td>
        <td>@TempData["SLNV"]</td>
    </tr>
    <tr>
        <td>DiaChi: </td>
        <td>@TempData["DiaChi"]</td>
    </tr>
    <tr>
        <td>NgLH: </td>
        <td>@TempData["NgLH"]</td>
    </tr>
    <tr>
        <td>SDT: </td>
        <td>@TempData["SDT"]</td>
    </tr>
    <tr>
        <td>SFax: </td>
        <td>@TempData["SFax"]</td>
    </tr>
    <tr>
        <td>Eamil: </td>
        <td>@TempData["Email"]</td>
    </tr>
    <tr>
        <td>DCWebSite: </td>
        <td>@TempData["DCWebSite"]</td>
    </tr>
    <tr>
        <td>TDN: </td>
        <td>@TempData["TDN"]</td>
    </tr>
    <tr>
        <td>MK: </td>
        <td>@TempData["MK"]</td>
    </tr>
    <tr>
        <td>XNMK: </td>
        <td>@TempData["XNMK"]</td>
    </tr>
    <tr>
        <td>F_Mail: </td>
        <td>@TempData["F_Mail"]</td>
    </tr>
</table>
